{% load static %}
<!DOCTYPE html>
<html>
    <head>
	    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	    <script src="js/jquery-3.1.1.min.js"></script>
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	    <link href="{% static '/css/studentdashboardstyle.css'%}" rel="stylesheet"/>
	    <script type="text/javascript" src="{% static '/script/studentdashboardscript.js' %}"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<title>Dashboard</title>
    </head>

    <body>
    	{% block navbar %}
		<div class="wrapper">
		    <div class="">
		        <!-- Dropdown Structure -->
		        <nav class=" light-blue" role="navigation">
		            <div class="nav-wrapper container">
		                <a href="#!" class="brand-logo white-text" style="margin-left: 0px;">Inventory Order</a>
		            </div>
		        </nav>
		    </div>
		</div>
		{% endblock %}
		<div id="outer">
				<form class="col s12" method="post" id="form_id">
					<div id="lbox">
						<div id="lbox-up">
							<div class="row">
								<div class="input-field col s10">
									<i class="material-icons prefix">title</i>
										<input id="title" type="text" name="title" class="validate">
										<label for="title">Title</label>
							    </div>
							</div>
							<div class="row">
								<div class="input-field col s10">
										<i class="material-icons prefix">message</i>
										<textarea id="detail" name="detail" class="materialize-textarea"></textarea>
										<label for="detail">Description</label>
								</div>
							</div>
						</div>
						<div id="lbox-down">
							<div id="box">
								<table>
							        <thead>
							          <tr>
							              <th>Item Name</th>
							              <th>Item Qty.</th>
							          </tr>
							        </thead>
							        <tbody id="item_cart">
							          </tr>
							        </tbody>
							    </table>
							</div>
							<button class="btn light-blue waves-effect waves-light right z-depth-3" type="submit" name="action" onclick="submitform()" style="margin-top: 25px;">Submit <i class="material-icons right">send</i></button>			
						</div>

					</div>

				

					<div id="rbox" class="grey lighten-2">
						<div id="rbox-up">
								<div class="row">
									<div class="input-field col s4">
										<select onchange="formSelect(this)">
											<option value="" disabled selected>Choose your option</option>
											<option value="CS">CS</option>
											<option value="EC">EC</option>
											<option value="EE">EE</option>
										</select>
										<label>Select Department</label>
									</div>
									<div class="col s8">
										<div id="p1">
										</div>
									</div>
									
								</div>
								
						</div>
						<div id="items" class="tabcontent">
							
							<div id="inner">
								<h4 style="padding-left: 5%;">Inventory Order Information</h4>
								<table class="striped">
								        <thead>
								          <tr>
								              <th>Item</th>
								              <th>Quantity</th>
								          </tr>
								        </thead>

								        <tbody id="itemList">

								        </tbody>
								</table>
							</div>

						</div>
						</form>	
					</div>
		</div>
		<script>
			function formSelect(curState)
	        {   
	            var result="<div class='input-field col s6'><select onchange='addItem(this)'><option>--Select Lab--</option>";
	            if(curState.value.match("CS"))
	            {
	                var cslist=["Lab1","Lab2","Lab3","Lab4","Lab5"];
	                for(i=0;i<cslist.length;i++)
	                {
	                    result+="<option>"+cslist[i]+"</option>"
	                }
	                result+="</select><label>Select Lab</label></div>";
	                document.getElementById("p1").innerHTML=result;
	                $('select').material_select();
	            }
	            if(curState.value.match("EC"))
	            {
	                var eclist=["Eyantra","EC1","EC2"];
	                for(i=0;i<eclist.length;i++)
	                {
	                    result+="<option>"+eclist[i]+"</option>"
	                }
	                result+="</select><label>Select Lab</label></div>";
	                document.getElementById("p1").innerHTML=result;
	                $('select').material_select();
	            }
	            if(curState.value.match("EE"))
	            {
	                var eelist=["EE1","EE2","EE3"];
	                for(i=0;i<eelist.length;i++)
	                {
	                    result+="<option>"+eelist[i]+"</option>"
	                }
	                result+="</select><label>Select Lab</label></div>";
	                document.getElementById("p1").innerHTML=result;
	                $('select').material_select();
	            }
	        }
	        
		</script>
	    	
	</body>
</html>
