nav
{
	position: fixed;
}
.header-search-wrapper {
	position: absolute;
    width: 100%;
    margin: 10px auto 0px 240px;
    width: calc(100% - 500px);
    height: 40px;
    display: inline-block;
    position: relative;
}
@media screen and (max-width: 600px) {
  h5
  {
  	font-size: 75%;
  	text-align: center;
  }
  .material-icons
  {
  	margin-left: -10px;
  }
  nav
  {
  	height: 60px;
  }
  nav .brand-logo
  {
  	width: 100%;
  }
  .side-nav
  {
  	width: 50%
  }
}