nav
{
  height: 7vh;
  line-height: 7vh;
}
a
{
  color: black;
}
.minus-btn
{
  height: 25px;
  width: 25px;
  padding: 0px;
  font-size: 15px;
}
.minus-btn .material-icons
{
  font-size: 18px;
}
.plus-btn
{
  height: 25px;
  width: 25px;
  padding: 0px;
  font-size: 15px;
}
.plus-btn .material-icons
{
  font-size: 18px;
}
table tr td
{
  width: 35%;
}

table tr td:nth-child(3) #quantity
{
  width: 12%;
  padding: 5%;
  margin-left: 2%;
  border: 0px;
}
#lbox
{
  width: 20%;
  height: auto;
  min-height: 500px;
  margin-left: 15%;
  float: left;
}
#rbox
{
  width: 65%;
  height: 93vh;
  float: right;
  padding: 2%;
}
#lbox form .input-field
{
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  border: 1px solid black;
  border-radius: 20px 20px 20px 20px;
}
#lbox form .input-field .material-icons
{
  margin-top: 5px; margin-left: 10px;
}
#searchbar
{
  height: 30%;
  width: 65%;
  margin: -14% 0px 0 40px;
  border-bottom: 0px;
  padding: 3%;
}
#inner
{
  width: 100%;
  height: 75vh;
  border: 1px solid black;
  background-color: white;
  padding: 3%;
  overflow-y: auto;
}

nav .nav-wrapper
{
  margin-left: 20%;
}
hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
    width: 150px;
}
.side-nav
{
  width: 15%;
}
nav .brand-logo
{
  font-size: 24px;
}
.side-nav li>a>i.material-icons
{
  margin: 0 16px 0 0;
}
#lablist li a
{
  color: black;
}
#lablist li
{
  padding: 5%;
  margin-left: 25%;
}


.tab2 {
    float: left;
    width: 100%;
    height: 100px;
    margin-top: 5%;
}

.tab2 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
}

.tab2 button:hover {
    background-color: #ddd;
}

.tab2 button.active {
    background-color: #ccc;
}

.tabcontent {
    width: 100%;
    border-left: none;
}
.tab3
{
  float: left;
  display: block;
  color: rgba(0,0,0,0.87);
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-weight: 500;
 
}
.tab3 button {
    display: block;
    background-color: inherit;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    overflow-y: auto;
    z-index: 999;
    padding: 0 32px;
    font-size: 14px;
}
.tab3 button .material-icons
{
  float: left;
  height: 48px;
  line-height: 48px;
  width: 24px;
  color: rgba(0,0,0,0.54);
  margin: 0 16px 0 0;
}

.tabcontent2
{
  height: 100%;

}
#profile
{
  height: 93vh;
  width: auto;
  background-color: #111111
}
#inventory
{
  height: 93vh;
  width: auto;
}
#issueditems
{
  height: 93vh;
  width: auto;
  background-color: #333333;
}
#issuehistory
{
  height: 93vh;
  width: auto;
  background-color: #555555;
}
