nav
{
  height: 7vh;
  line-height: 7vh;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
}
@-moz-document url-prefix() { .container { overflow: hidden; } }
.container
{
  width: 100%;
  margin-left: 4%;
}
a
{
  color: black;
}
#outer
{
  height: 93vh;
}
.minus-btn
{
  height: 25px;
  width: 25px;
  padding: 0px;
  font-size: 15px;
}

.minus-btn .material-icons
{
  font-size: 18px;
}

.plus-btn
{
  height: 25px;
  width: 25px;
  padding: 0px;
  font-size: 15px;
}

.plus-btn .material-icons
{
  font-size: 18px;
}

table tr td
{
  width: 45%;
}

table tr td:nth-child(2) #quantity
{
  width: 12%;
  padding: 0%;
  margin: 0%;
  margin-left: 8%;
  border: 0px;
}
th
{
  padding-left: 5%;
  margin-left: 10%;
}
td
{
  padding: 0%;
  padding-left: 5%;
}
#lbox
{
  width: 25%;
  height: 93vh;
  float: left;
  overflow-y: scroll;
  background-color: #FAFAFA;
}

#lbox .row
{
  margin: 0%;
} 
.row .col.s10
{
  margin-left: 8%;
  margin-top: 8%;
  min-height: 6vh;
}

#lbox-up
{
  width: 100%;
  min-height: 33vh;
  margin: 0vh;
}

#lbox-down
{
  padding: 5%;
  margin: 0vh;
  width: 100%;
  min-height: 57vh;
}

#box
{
  height: 41vh;
  padding: 1vh;
  background-color: white;
  border: 1px solid #9E9E9E;
}

#rbox
{
  width: 75%;
  height: 93vh;
  float: right;
  padding: 2%;
}
#rbox-up
{
  width: 100%;
  height: 12vh;
  margin-left: 2%;
}
#inner
{
  width: 90%;
  height: 65vh;
  border: 1px solid black;
  background-color: white;
  overflow-y: auto;
  margin-left: 3%;
}


hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 0.5px;
    width: 150px;
}

nav .brand-logo
{
  font-size: 24px;
}
.input-field label
{
  color: #333333;
}
.input-field .prefix.active {
    color: #222222;
}

.input-field .active {
  color: green;
}

textarea.materialize-textarea { resize: none; }
input[type=text]:not(.browser-default):focus:not([readonly])+label
{
  color: red;
}


textarea.materialize-textarea:focus:not([readonly])+label
{
  color: red;
}


input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly])
{
  box-shadow: 0 1px 0 red;
  border-bottom: 1px solid red;
}
.materialize-textarea
{
  height: 100px;
  resize: none;
}